*{
    margin: 0;
    padding: 0;
}

img{
    width: 70%;
}

.bg-dark, .navbar-dark, .navbar{
    background-color: #0D4853;
    
}


.ms-auto{
    margin-left: 20px;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.buttons{
    margin-top: 25px;
}

.engine{
    margin: 0% 5% 0% 10%;
}


